/* Manage Channels
 ------------------------------------*/
.parent-channel { clear: both; padding: 0; }
.parent-channel.no-children { padding: 0; }

.parent-channel .form-item { padding: 15px 0 0 0; border-top: solid 1px #0062A0; }
.parent-channel.first .form-item { padding: 0; border-top: none; }


.child-channel .form-item label.option { 
  margin: 0; padding: 0; float: left; width: 250px;
}

.first.child-channel  { clear: both; padding: 0 0 0 25px; }
.last.child-channel { padding-bottom: 10px; }
.no-child-channel { padding: 0 0 0 10px; color: #888888; }