

.node .content td div.left { width: 15%; margin-right: 10px; float: left; }
.node .content td div.middle { width: 60%; margin: 0 10px; float: left; }
.node .content td div.right{ width: 20%; margin-left: 10px; float: left; }
.right .compare { background: blue; }
.right .compare a { color: white; font-weight: bold; margin: 5px; }
.right div {  font-size: 90%; }

table.products thead tr { display: inline; float: right; padding: 0 0 20px 0; }
table.products thead th { border: none; padding: 0 0 0 10px; margin: 0; font-size: 90%; }

table.offers thead tr { display: inline; float: right; padding: 0 0 20px 0; }
table.offers thead th { border: none; padding: 0 0 0 10px; margin: 0; font-size: 90%; }

#offer .right .prices, #offer .right .outbound, #offer .right .stock { margin-top: 10px; }

#block-shopping_channels-0 .item-list { padding: 10px 0; }