.box .content div.left { width: 15%; margin-right: 10px; float: left; }
.box .content div.middle { width: 60%; margin: 0 10px; float: left; }
.box .content div.right{ width: 20%; margin-left: 10px; float: left; }
.right .compare { background: blue; }
.right .compare a { color: white; font-weight: bold; margin: 5px; }
.right div {  font-size: 90%; }

.offer, .product { clear: both; }

#offer .right .prices, #offer .right .outbound, #offer .right .stock { margin-top: 10px; }

#block-shopping_channels-0 .item-list { padding: 10px 0; }