.node .item .left { margin: 0; padding: 0 30px 0 0; float: left; width: 300px; }
.node .item .right { margin: 0; padding: 30px 0 0 0; float: left; width: 700px; }

.node .stores { clear: both; }
.node .stores p { float: left; width: 25%; }
.node .stores p.price { text-align: center; }

table.stores thead tr { display: inline; float: right; padding: 0 0 20px 0; }
table.stores thead th { border: none; padding: 0 0 0 10px; margin: 0; font-size: 90%; }

table.store-custom .even, table.store-custom .odd { background-color: #ffffff; }
table.store-custom td { height: 60px; padding: 0; margin: 0; }
div.store-custom { background-color: #EEE; height: 60px; margin: 0; padding: 0; }
.node div.store-custom p { line-height: 60px; width: auto; padding: 0 30px 0 0; margin: 0; height: 60px; }
.node div.store-custom p img { margin: 15px 0 0 10px; }

.node .store-item p { width: 0; line-height: 60px; margin: 0; padding: 0; }
.store-item img, .store-item p.image { width: 60px; height: 60px; }
.store-item p.name { width: 550px; padding: 0 75px; font-weight: bold; font-size: 90%; }
.store-item p.price { width: 100px; }
.store-item p.visit { width: 100px; }
.node div.store-item { margin: 0 0 0 50px; height: 60px; padding: 0; }